.venv/
__pycache__/
*.pyc

.env

.pytest_cache/

reports/*
!reports/.gitkeep

screenshots/*
!screenshots/.gitkeep

logs/*
!logs/.gitkeep

videos/*
!videos/.gitkeep

traces/*
!traces/.gitkeep

.idea/
.vscode/

*.log